COMPOSE_PROJECT_NAME=plataforma-base-finbank

GATEWAY_PORT=8080

MONOLITH_DB=modular_bank
MONOLITH_DB_USER=bank
MONOLITH_DB_PASSWORD=bank-local
MONOLITH_DB_PORT=5433

JWT_SECRET=finbank-local-jwt-secret-change-this-value-2026

RABBITMQ_USER=finbank
RABBITMQ_PASSWORD=finbank-local
RABBITMQ_AMQP_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_METRICS_PORT=15692

NOTIFICATIONS_DB=notifications_db
NOTIFICATIONS_DB_USER=notifications
NOTIFICATIONS_DB_PASSWORD=notifications-local
NOTIFICATIONS_DB_PORT=5434
NOTIFICATIONS_INTERNAL_API_KEY=finbank-notifications-internal-key-change-this-2026

TRANSFERS_DB=transfers_db
TRANSFERS_DB_USER=transfers
TRANSFERS_DB_PASSWORD=transfers-local
TRANSFERS_DB_PORT=5435
